@use "../../scss/" as *;

.detail {
  .header-section {
    h3 {
      color: $second-color;
      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }
    h2 {
      font-weight: 700;
      line-height: 48px;

      color: $main-color;

      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }
    a {
      text-decoration: none;
      color: $main-color;

      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }
  }

  .surat-section {
    padding: 20px 20px;
    background: #e0ffec;
    // border: 1px solid rgba(103, 255, 237, 0.36);
    box-sizing: border-box;
    box-shadow: 0px 4px 70px -20px rgba(103, 255, 237, 0.38);
    border-radius: 15px;
    .header {
      p {
        font-weight: 700;
        font-size: 32px;
        color: $main-color;
      }
    }

    .ayat {
      background: #ffffff;
      border-radius: 12px;
      padding: 30px 25px;
      margin: 10px 0;

      .arab {
        text-align: right;
        font-size: 26px;
        font-weight: 600;
        color: $main-color;
        font-family: "Noto Naskh Arabic", serif;
        margin-bottom: 20px;
      }
      .arti {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .action {
        // background-color: aqua !important;
        margin-top: 10px;

        .btn {
          font-size: 14px;
          margin-right: 10px;

          @include mobile {
            font-size: 10px;
          }
          @include tablet {
            font-size: 10px;
          }
        }
        .fav {
          border: 1px solid $main-color;
        }
      }

      @include mobile {
        .arab {
          font-size: 20px;
        }
        .arti {
          font-size: 12px;
        }
      }
    }
  }
}
