@use "../../scss/" as *;

.jumbotron-web {
  background: #e0ffec;
  box-shadow: inset 3px 3px 19px rgba(2, 120, 120, 0.11);
  border-radius: 18px;

  margin-top: 65px;
  padding: 50px 85px;

  .kanan {
    padding: 85px 0px;

    @include tablet {
      text-align: center;
    }
    @include mobile {
      text-align: center;
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      line-height: 48px;

      text-align: left;

      margin-bottom: 10px;
      color: $main-color;

      @include mobile {
        text-align: center;
      }
      @include tablet {
        text-align: center;
      }
    }

    p {
      font-family: "Poppins";
      // line-height: 21px;
      align-items: center;
      text-align: justify;
      color: $main-color;

      @include tablet {
        font-size: 80%;
      }
      @include mobile {
        font-size: 80%;
      }
    }
    .btn {
      background-color: $main-color;
      color: white;
      padding: 10px 10px !important;

      @include tablet {
        font-size: 80%;
      }
      @include mobile {
        font-size: 80%;
      }
    }
  }
  .kiri {
    img {
      display: flex;
      align-items: center;
      margin: auto;
      justify-content: center;
      width: 75%;
    }
  }
}
